{
  "extends": ["plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
"parser": "@typescript-eslint/parser"
}
